@model IEnumerable<TeacherStudentProject.Data.Models.Student>

@{
    ViewData["Title"] = "Students list";
}

<h1>Student creator</h1>

<p>
    <a asp-action="Create">Create a new Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Speciality)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td >
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="badge-info bi-pencil-square"></i>Edit student!</a> |
                <a class="btn btn-outline-info"asp-action="Details" asp-route-id="@item.Id"><i class="badge-info bi-eye"></i>Details for student!</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="badge-info bi-trash"></i>Delete student!</a>
            </td>
        </tr>
}
    </tbody>
</table>
