@model IEnumerable<TeacherStudentProject.Data.Models.Teacher>

@{
    ViewData["Title"] = "Teacher List";
}

<h1>Teacher list</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>

                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit Teacher Information!</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details about Teacher!</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete Teacher</a>
                </td>
            </tr>

        }
        
    </tbody>
</table>
<div style="align-self: center; bottom: 25px" class="text-white">
    <a asp-controller="Teachers" asp-action="Create" class="btn btn-success">Add New </a>
</div>
